{% extends "layout.html" %}

{% block extendable %}
{% load static %}
<div> <!-- div по приколу -->
    <div class="my-container mt-5 reg-holder">
        <div class="row" >
            <div class="gy-5 col-xs-11 col-sm-10 col-md-10 col-lg-5 mx-auto form-holder">
                <form method="POST" action="{% url 'registration_page' %}">
                    {% csrf_token %}
                    <div class="wrapper">
                        {% for field in form %}
                        <div class="fieldWrapper">
                            {{ field }}
                        </div>
                        <span class="help" style="align-self: flex-start;">{{ field.errors }}</span>
                        <p class="help">{{ field.help_text|safe }}</p>
                        {% endfor %}
                        <button class="sign-up-btn" type="submit">Sign up</button>
                    </div>

                </form>
            </div>
            <div class="col-sm-6 d-none d-lg-block gy-5">
                <div class="right-column">
                    <img src="{% static 'images/icons/cloud_white_v5.png' %}" class="right-column-pic"  id="hide_me">
                    <span class="text" style="font-family: 'IBM Plex Sans Devanagari';font-style: normal;font-weight: 600;font-size: 64px;line-height: 98px;">STORAGE CLOUD</span>
                </div>
                <div style="font-family: 'Inter';font-style: normal;font-weight: 400;font-size: 36px;line-height: 44px;color: #FFFFFF;">
                    <b>
                        <p style="margin-bottom: 36px;">
                            <span>When you </span><span style="color: #00FF19">Sign up </span>
                            <span>to </span><span style="color: #0094FF">Storage Cloud</span>
                            <br><span style="color: #0094FF">You </span><span>get the ability to:</span>
                        </p>
                        <ul style="margin-bottom: 36px;">
                            <li>
                                <span style="color: #0094FF">Show</span><span> yourself</span><span style="color: #0094FF"> up</span>
                            </li>
                            <li>
                                <span style="color: #0094FF">Upload</span><span> content</span>
                            </li>
                            <li>
                                <span style="color: #0094FF">Comment</span><span> others works</span>
                            </li>
                        </ul>
                        <p>
                            <span>Start to </span><span style="color: #0094FF">enjoy</span><span> our community</span><span style="color: #0094FF"> now</span><span>!</span>
                        </p>
                    </b>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <img src="{% static 'images/elements/human_all_v2.png' %}" alt="-" class="bottom-image">  <span> and</span><span style="color: #0094FF"> rate</span>-->


{% endblock %}
